extends layout

block content
  h1#main-heading Contact Database
  p This CRUD application allows you to: CREATE, VIEW, EDIT, and DELETE contacts.
  link(rel='stylesheet', href='/css/style.css')
  a.btn(href='/contacts') View Contacts Database
