extends layout

block content
  h1 Contact Database
  p This application allows you to: CREATE, VIEW, EDIT, and DELETE contacts.
  link(rel='stylesheet', href='/css/style.css')
  a(href='/contacts') View Contacts Database