extends layout

block content
  link(rel='stylesheet', href='/css/style.css')
  h1 Add New Contact
  form(method='POST', action='/contacts')
    label First Name: 
    input(type='text', name='firstName', required)
    label Last Name: 
    input(type='text', name='lastName', required)
    label Email Address: 
    input(type='text', name='email')
    label Notes: 
    textarea(name='notes')
    button(type='submit') Add Contact